body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: left;
    display: flex;
}

header h1 {
    margin-left: 3em;
}

header p {
    margin-top: 2.5em;
    padding-left: 1em;
}

.container {
    display: flex;
    justify-content: flex-start;
}

main {
    margin-left: auto;
    padding: 20px;
    width: 80%;
}

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.filters button {
    padding: 1.5px 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
    cursor: pointer;
}

.filters select {
    height: 40px;
    width: 300px;
    margin-left: 16em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 14px;
}

.filters i {
    background: black;
    color: white;
    padding: 2px 6px;
    margin-right: 6px;
}

.filters .clear {
    border: none;
}

.products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.product {
    width: 300px;
    margin: 0 10px 20px 0;
    background: #ddd;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

.product i.fa-heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
}

.product img {
    width: 90%;
    height: auto;
    padding: 3em 0;
}

.product-details {
    text-align: left;
    background: white;
    width: 100%;
    padding: 10px;
    margin-top: auto;
    box-sizing: border-box;
    position: relative;
}

.product-details h3,
.product-details p {
    margin: 0;
    padding-left: 10px;
}

.product-details .meris{
    color: #696868;
    padding-bottom: 8px;
}

.product .saltButtn{
    width: 30px !important;
}
.product .saltButtn button{
    padding: 5px 10px;
    background-color: #046fbc;
    color: white;
    border: none;
    cursor: pointer;
}

.product button {
    padding: 5px 0px;
    background-color: #046fbc;
    color: white;
    border: none;
    cursor: pointer;
}

.feedback {
    position: fixed;
    top: 60%;
    right: 0;
    transform: translateY(-50%);
}

.feedback .feedback1 {
    display: inline-block;
    background: #ffc014;
    padding: 2px;
    transform: rotate(-90deg);
    transform-origin: cen ter;
    margin: 0 -26px 0 0;
}